.h1 {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 72px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--neutral-0);
}

.h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 44px;
  line-height: 1.18;
  color: var(--neutral-900);
}