:root {
	--container-width: 1280px;
	--container-padding: 15px;

  --font-main: "Inter Display", sans-serif;
  --font-accent: "Inter", sans-serif;
	--font-titles: var(--font-main);

	--neutral-0: #fff;
	--neutral-25: #fafafb;
	--neutral-50: #f3f3f3;
	--neutral-100: #e5e5e6;
	--neutral-200: #e0e1e2;
	--neutral-300: #c3c5c8;
	--neutral-400: #a9abb0;
	--neutral-500: #9b9da3;
	--neutral-600: #61656e;
	--neutral-700: #434956;
	--neutral-800: #1c222e;
	--neutral-900: #12161d;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}