.header {
  position: relative;
  height: 1170px;
	background-color: #c0e4f4;
  background-image: url('./../../img/hero/hero-section.jpg');
  background-position: center center; // x y
  background-size: cover;
  background-repeat: no-repeat;
	padding: 20px 0;

  text-align: center;
  color: #fff;

  &::before, &::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
  }

  &::before {
    background-color: rgb(0, 0, 0, 0.2);
    top: 0;
    height: 100%;
  }

  &::after {
    bottom: 0;
    height: 240px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.37) 19.94%, rgba(255, 255, 255, 0.78) 39.06%, rgba(255, 255, 255, 0.94) 65.28%, #fff 88.54%);
  }

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-top, .header-hero {
  position: relative;
}

.header-top__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  border-radius: 25px;
  padding: 0 10px;
  width: 105px;
  height: 36px;
  background-color: var(--neutral-0);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--neutral-900);
}

.header__nav {
	@include tablet {
		display: none;
	}
}

.header-hero {
  padding-top: 80px;
}

.header-hero__content {
  max-width: 700px;
  margin: 0 auto;
}

.header-hero__title {
  margin-bottom: 24px;
}